/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}


.grayscale{
    filter: grayscale(100%);
}

ul li{
    list-style-type: none;
}

.tstimg{
    width: 149px;
    height: auto;

}

.tstimg.tsimg-ex{
    width: 160px;
    height: 149px;
    border-radius: 100%;

}



/* overridden Colors */

.bg-color-1{
    background-color: #6A1B4D;
}


.text-color-1{
    color: #6A1B4D;
}

.need-fix{
    border: 1px solid #6A1B4D;
}